:root {
    --background-1 : linear-gradient(90deg, #cae3ce 0%, #d9e7ff 100%);
    --background-2: linear-gradient(135deg, #efd5ff 0%, hsl(236, 77%, 75%) 100%);
    --map-height: 800px;
    --map-width: 800px;
}

#mapdiv {
    height: var(--map-height);
    width: var(--map-width);
    border-radius: 0.5rem;
    box-shadow: 0 -0.3rem 2.5rem #d9e7ff;
    /* margin: 0 auto; */
    margin-bottom: 2rem;
}

body {
    background: var(--background-1);
}

h1, h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 800 2em 'Besley', serif;
}

h2 {
    font-size: 1em;
}

.map-logo {
    height: 2.5em;
    width: auto;
    margin-right: -0.5rem;
}

.h1-container {
    /* background: var(--background-2); */
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5rem 0 5rem #d9a3fb;
}

.h1-container > p {
    display: none;
    align-self: flex-start ;
    padding-left: 6em;
}

.navbar {
    border-radius: 0 0 0.5rem 0.5rem;
}

.search {
    border: none; 
    background: transparent;
    font-size: medium;
}

title-div {
    display: flex;
    flex-direction: column;
}

#dropdownMenuButton1 {
    background: transparent;
    border: none;
}

.nav-item {
    color: white;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar {
    margin-bottom: 2rem;
    box-shadow: 0 -0.3rem 2.5rem #d9e7ff; ;
}

.listicle {
    height: var(--map-height);
    border-radius: 0.5rem;
    background: var(--background-2);
    /* display: flex;
    flex-direction: column; */
}

.listicle-ul {
    padding: 0;
}

.event-item {
    list-style-type: none;
    font: italic 600 1em 'Besley', serif;
    padding: 0.2rem 0.2rem;
    margin: 0.1rem 0.5rem;
    border: solid aquamarine 0.1rem;
}

.list-placeholder {
    font: italic 100 1em 'Besley', serif;
}

.side-events {
    display: flex;
    flex-direction: column;
}

.footer {
    font: italic 100 0.8em 'Besley', serif;
    margin: 0;
    padding-left: 2rem;
}


